.buttonGroup {
  background: var(--openapi-card-background-color);
  color: var(--ifm-pre-color);
  font-family: var(--ifm-font-family-monospace);
  /* font-size: var(--ifm-code-font-size); */
  /* line-height: var(--ifm-pre-line-height); */
  /* margin-bottom: calc(var(--ifm-spacing-vertical) / 4); */
  margin-bottom: 1px;
  margin-top: 0;
  border-radius: var(--openapi-card-border-radius)
    var(--openapi-card-border-radius) 2px 2px;
  display: flex;
  justify-content: flex-end;
}

.buttonGroup button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  cursor: pointer;
  /* font-size: calc(0.875rem * var(--ifm-button-size-multiplier)); */
  /* line-height: 1.5; */
  /* font-weight: var(--ifm-button-font-weight); */

  /* font-size: var(--ifm-code-font-size); */
  font-size: 13.3333px;
  line-height: var(--ifm-pre-line-height);
  font-weight: var(--ifm-font-weight-semibold);

  padding: calc(
      var(--ifm-button-padding-vertical) * var(--ifm-button-size-multiplier)
    )
    calc(
      var(--ifm-button-padding-horizontal) * var(--ifm-button-size-multiplier)
    );

  text-align: center;

  transition: color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    background var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1),
    border-color var(--ifm-button-transition-duration)
      cubic-bezier(0.08, 0.52, 0.52, 1);
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;

  background: transparent;

  color: var(--ifm-menu-color);
  border: 0px solid transparent;
  /* border-radius: var(--ifm-pre-border-radius); */

  --margin: 0.25rem;

  border-radius: calc(var(--margin));
  /* border-radius: 0.25rem; */

  display: block;
  width: 100%;

  /* margin: 2px; */
  margin: var(--margin);
  margin-right: 0;
}

.buttonGroup button:last-child {
  margin-right: 0.25rem;
}

.buttonGroup button:hover {
  background: var(--ifm-menu-color-background-active);
}

.buttonGroup button:focus {
  outline: 0;
}

.buttonGroup button.selected {
  background: var(--ifm-menu-color-background-active);
  color: var(--ifm-menu-color-active);
}

.noOverflow {
  overflow-x: hidden;
}

.executeButton_fetch {
  font-size: 18px;
  font-family: var(--ifm-font-family);
  background-color: var(--openapi-card-background-color);

  padding-top: 4px;
  margin-bottom: 2px;
  padding-bottom: 4px;
  border: 0px;
  border-radius: 6px;
  width: 100%;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.executeButton_fetch:hover {
  box-shadow: 1px 1px 3px var(--ifm-color-primary-lightest);
}

.response_loader {
  border: 6px solid var(--ifm-color-gray-300);
  border-top: 6px solid var(--ifm-link-color);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.execute_result {
  margin-top: 12px;
  min-height: 100px;
  border: 1px solid #60677053;
  border-radius: 6px;
  flex-wrap: wrap;
  position: relative;
}

.executeOptions {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 8px;
  height: 30px;
  background-color: var(--openapi-card-background-color);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.executeOption {
  width: 50%;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
}

.executeOption:hover {
  box-shadow: 1px 1px 3px var(--ifm-color-primary-lightest);
}

.executeOptionSelected {
  background: var(--ifm-color-primary-lightest) !important;
}

.executeResponseText {
  width: 100%;
  max-height: 550px;

  font-size: 14px;
  white-space: pre;
  overflow-x: auto;
}

.noMarginBottom {
  margin-bottom: 0;
}
